@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --Bleu-50: hsl(225, 100%, 98%);
    --Bleu-100: hsl(225, 100%, 94%);
    --Bleu-700: hsl(245, 75%, 52%);
    --Bleu-950: hsl(223, 47%, 23%);
    --Gris-600: hsl(224, 23%, 55%);
    --active-states: hsl(245, 83%, 68%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Bleu-100);
    background-image: url(./assets/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    font-family: 'Red Hat Display', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 10px;
}
.card {
    max-width: 360px;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
}
.header-card img {
    width: 100%;
    height: auto;
    display: block;
}
.card-content {
    text-align: center;
    padding: 15px;
}
h1 {
    color: var(--Bleu-950);
    font-weight: 900;
    font-size: 20px;
    padding: 10px 0px 20px 0px;

}
p {
    font-size: 16px;
    color: var(--Gris-600);
    line-height: 1.3;
    padding-bottom: 25px;
}
.plan {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--Bleu-50);
    padding: 15px 10px 15px 8px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.plan a {
    cursor: pointer;
    color: var(--Bleu-700);
    transition: color 0.5s ease;
    font-weight: 700;
}
.plan a:hover {
    text-decoration: none;
    color: var(--active-states);
}
.abonnement {
    color: var(--Bleu-950);
    font-weight: 900;
    font-size: 15px;
    white-space: nowrap;

}
.price {
    color: var(--Gris-600);
    font-weight: 500;
}
.btn-payment {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: var(--Bleu-700);
    color: white;
    font-weight: 900;
    box-shadow: 0px 20px 20px  hsl(245, 75%, 52%, 0.2);
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 25px;
}
.btn-payment:hover {
    background-color: var(--active-states);
}
.btn-cancel {
    display: inline-block;
    color: var(--Gris-600);
    font-weight: 900;
    cursor: pointer;
    transition: color 0.5s ease;
}
.btn-cancel:hover {
    color: var(--Bleu-950);
}

.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 356px) {
    main {
        padding: 40px 20px;
} 
    .card-content {
        padding: 20px;
        
} 
    .plan {
        padding: 15px 8px;
        justify-content: center;
}
    
}

@media (min-width: 999px) {
    body {
        background-image: url(./assets/images/pattern-background-desktop.svg);
        background-position: top;
        object-fit: cover;
    }
}